<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Event Management System</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Community Event Management & Notification System</h1>
    <p>Welcome to your community’s centralized event management hub. From organizing events to sending notifications, everything is managed here.</p>

    <div style="text-align:center; margin-top: 30px;">
        <a href="/events/create"><button>📝 Register Events</button></a>
      <a href="/events"><button>📅 Manage Events</button></a>
      <a href="/attendees/register"><button>📝 Register Attendee</button></a>
      <a href="/reports"><button>📊 View Reports</button></a>
    </div>

    <hr style="margin: 40px 0;">

    <p style="text-align:center; color:#777;">Developed in Go (Golang) • Community System Project</p>
  </div>
</body>
</html>
